.divvs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.individualcompanycard12 {
  padding: 20px;
  background-color: #202020;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 30px;
}

.outerdetailed {
  background-color: black;
}
.CompanyName {
  width: 60px;
  height: 60px;
}
.indi {
  display: flex;
  flex-direction: row;
}

.indi1 {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.title {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 0px;
}
.rating {
  margin-top: 0px;
}
.india {
  display: flex;
  flex-direction: row;
}

.indi123 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.location {
  margin-right: 15px;
}
.Description {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}
.nodecoration {
  text-decoration: none;
}
.lightblue {
  color: lightblue;
}

.whitesssss {
  color: white;
  font-family: 'Roboto';
  margin-left: 30px;
}

@media (min-width: 700px) {
  .align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  .align3333 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 699px) {
  .align {
    display: flex;
    flex-direction: column;

    width: 100vw;
  }
  .align3333 {
    display: flex;
    flex-direction: column;
  }
}
.reqskills {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 3px;
}

.align1 {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.align2 {
  display: flex;
  flex-direction: row;
}
