.profileBackground {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.profileimage {
  width: 60px;
  height: 60px;
}

@media (max-width: 676px) {
  .Profile {
    width: 100%;
  }
}
